.section-footer{
    background: var(--heading);
    transition: all 0.3s linear;

}

.section-footer h3{
    color: var(--white);
    margin-bottom: 2rem;
}

.f-about p{
    color: #adadad;
}

.f-links ul, .f-services ul, .f-address address{
display: flex;
flex-direction: column;
gap: 1.8rem;
justify-content: center;
}

.f-links li, .f-links a, .f-services li, .f-services a{
    font-size: 1.3rem;
    color: #adadad;

}

.f-links span, .f-services span, .f-address span{
    margin-right: 10px;
}

.f-address p, .f-address p a{
    font-style: normal;
    color: #adadad;
}

.f-social-icons{
    margin: 1rem 0;
    text-align: center;
    color: #adadad;
}

.f-social-icons .icons{
    width: 3rem;
    height: 3rem;
    /* background-color: rgba(144, 172,209,0.2); */
    display: inline-block;
    padding: 1.4 rem 1.8rem;
    position: relative;
    color: var(--white);
    /* gap: 3rem; */
}
.f-credits p{
    text-align: center;
    color: #adadad;
}

.footer a:hover, .footer a:active{
    color: var(--white);
}

.common-heading{
    font-size: x-large;
}